*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: content-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, #93175a, #5a20b1);
}